<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#57ac57" />
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#57ac57" />
    <meta name="msapplication-config" content="<%- APP_HOST_URL %>/assets/images/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#57ac57" />
    <meta name="color-scheme" content="dark" />
    <meta name="title" content="BG Wordle" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="BG Wordle" />
    <meta name="application-name" content="BG Wordle" />
    <meta name="description" content="Play BG Wordle with unlimited 5-letter words! Can you guess the hidden word in 6 tries?" />
    <meta property="og:title" content="BG Wordle" />
    <meta property="og:description" content="Play BG Wordle with unlimited 5-letter words! Can you guess the hidden word in 6 tries?" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%- APP_HOST_URL %>/assets/images/thumbnail.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:title" content="BG Wordle">
    <meta name="twitter:description" content="Play BG Wordle with unlimited 5-letter words! Can you guess the hidden word in 6 tries?">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="<%- APP_HOST_URL %>/assets/images/thumbnail.png">
    <meta itemprop="name" content="BG Wordle">
    <meta itemprop="description" content="Play BG Wordle with unlimited 5-letter words! Can you guess the hidden word in 6 tries?">
    <meta itemprop="image" content="<%- APP_HOST_URL %>/assets/images/thumbnail.png" />
    <title>BG Wordle</title>
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <script type="module" src="/src/app.js" defer></script>
  </head>
  <body></body>
</html>