#keyboard {
  display: grid;
  grid-template-columns: repeat(22, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;

  padding: 0;

  font-size: inherit;
  text-transform: uppercase;
  color: var(--clr-keyboard-keys);
  fill: var(--clr-keyboard-keys);
  background-color: var(--clr-keyboard);

  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

.key[data-key="Enter"],
.key[data-key="Delete"] {
  grid-column: span 3;
}

.key>svg {
  width: 1.75em;
  height: 1.75em;
}

.key:active,
.key:hover,
.key:focus-visible {
  background-color: var(--clr-keyboard-hover);
}

.key.missing-spot {
  background-color: var(--clr-missing-spot);
}

.key.wrong-spot {
  background-color: var(--clr-wrong-spot);
}

.key.correct-spot {
  background-color: var(--clr-correct-spot);
}

@media (hover: none) {
  .key:hover {
    background-color: var(--clr-keyboard);
  }
}