:root {
  --tile-size: clamp(40px, min(calc((100vw - 2em) / 5), calc((100dvh - 10.5em) / 8.1)), 100px);
  --font-size-ui: clamp(16px, 1em, 20px);

  --clr-background: hsl(240, 3%, 7%);
  --clr-border: hsl(240, 2%, 23%);
  --clr-alert-bg: hsl(204, 7%, 85%);
  --clr-alert-text: hsl(240, 3%, 7%);

  --clr-keyboard: hsl(200, 1%, 51%);
  --clr-keyboard-keys: hsl(0, 0%, 100%);
  --clr-keyboard-hover: hsl(200, 1%, 71%);

  --clr-tile-text: hsl(0, 0%, 100%);
  --clr-active-spot: hsl(200, 1%, 34%);
  --clr-correct-spot: hsl(115, 29%, 43%);
  --clr-wrong-spot: hsl(49, 51%, 47%);
  --clr-missing-spot: hsl(240, 2%, 23%);

  --clr-score-text: hsl(0, 0%, 100%);
}

html.light-theme {
  color-scheme: only light;
  --clr-background: hsl(0, 0%, 100%);
  --clr-border: hsl(215, 14%, 84%);
  --clr-alert-bg: hsl(240, 3%, 15%);
  --clr-alert-text: hsl(0, 0%, 100%);
  --clr-keyboard: hsl(215, 14%, 84%);
  --clr-keyboard-keys: hsl(240, 2%, 20%);
  --clr-keyboard-hover: hsl(215, 14%, 72%);
  --clr-tile-text: hsl(240, 2%, 10%);
  --clr-active-spot: hsl(215, 14%, 72%);
  --clr-score-text: hsl(240, 2%, 10%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  user-select: none;
}

html {
  color-scheme: only dark;
  font-size: clamp(8px, min(2.877vw, 2.326dvh), 24px);
}

body {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  margin: 0;
  padding: 0.5em;

  background-color: var(--clr-background);
}