#guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;

  margin-bottom: 1em;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

  border: 0.05em solid var(--clr-border);
  user-select: none;

  transition: transform 250ms linear;
}

.tile[data-state="active-spot"] {
  border-color: var(--clr-active-spot);
}

.tile[data-state="correct-spot"] {
  border: none;
  background-color: var(--clr-correct-spot);
}

.tile[data-state="wrong-spot"] {
  border: none;
  background-color: var(--clr-wrong-spot);
}

.tile[data-state="missing-spot"] {
  border: none;
  background-color: var(--clr-missing-spot);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-7.5%);
  }

  70% {
    transform: translateX(7.5%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(5%);
  }

  60% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(2.5%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}
