*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 1em;

  background-color: hsl(240, 3%, 7%);
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}